.App-title {
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.App-footer {
  text-align: center;
}

.App-footer-references {
  font-size: 0.7rem;
}

.App-navbar {
  margin-bottom: 20px;
}