.navbar-light .navbar-brand {
    color: #18BC9C;
}

.navbar-light .navbar-brand:hover {
    color: #18BC9C;
}

.navbar-light .navbar-brand.active {
    color: #18BC9C;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #18BC9C;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #18BC9C;
}

.cut-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wrapper {
    position: relative;
    overflow: hidden;
  }

  .wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }