torch == 1.7.1
pytorch-lightning == 1.0.1
tensorflow == 1.14.0
torchvision == 0.4.1
pandas == 1.2.2
s2sphere==0.2.5
tqdm == 4.50
SPARQLWrapper== 1.8.5
wikipedia-api == 0.5.4
imagehash == 4.2.0
eventregistry == 8.9
