requests==2.24.0
h5py==2.10.0
python_resize_image==1.1.19
waitress==1.4.4
numpy==1.18.2
scipy==1.5.0
tensorflow_gpu==1.14.0
torchvision==0.6.1+cpu
eventregistry==8.7
pandas==1.2.3
CairoSVG==2.5.1
torch==1.5.1+cpu
Wikipedia_API==0.5.4
Flask==1.1.2
s2sphere==0.2.5
Pillow==8.1.2
pytorch_lightning==1.2.2
SPARQLWrapper==1.8.5
tensorflow==2.4.1
